<%= form_with url: pot_withdrawals_path do |f| %>
  <div class="my-5">
    <%= f.label :amount, "Amount to Withdraw" %>
    <%= f.number_field :amount, min: 0 %>
  </div>

  <button type="submit" class="btn btn--primary w-full">
    Confirm Withdrawal
  </button>
<% end %>