<% content_for :title, "New budget" %>

<turbo-frame id="budgets_modal">
  <div data-controller="modal" data-action="keyup@document->modal#closeEsc">
    <div
      data-modal-target="backdrop"
      class="fixed inset-0 bg-gray-900 opacity-50 backdrop-enter"
    ></div>
    <div
      data-modal-target="modal"
      class="
        bg-white rounded-xl p-8 md:w-2/3 w-full max-h-[90vh] overflow-y-auto space-y-5
        fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 modal-enter
        max-w-xl
      "
    >
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Add New Budget</h1>
        <%= inline_svg_tag "icon-close-modal.svg",
        data: {
          action: "click->modal#close",
        },
        class: "cursor-pointer" %>
      </div>
      <p class=" text-gray-500 text-sm font-normal leading-tight ">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
        hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet.
      </p>

      <turbo-frame id="new_budget">
        <%= render "form", budget: @budget %>
      </turbo-frame>
    </div>

  </div>
</turbo-frame>
