<%= turbo_stream.append "pots", partial: "pots/pot", locals: { pot: @pot } %>
<%= turbo_stream.replace "no-pots-message" do %>
  <p id="no-pots-message" class="text-center my-10 md:col-span-2 hidden">No pots found.</p>
<% end %>

<turbo-stream action="after" target="pots_modal">
  <template>
    <script>
      document.dispatchEvent(new CustomEvent("modal:close"));
    </script>
  </template>
</turbo-stream>
