<% content_for :title, "Pots" %>

<div class="w-full px-4 py-6 md:px-10 md:py-8 relative h-full space-y-10">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Pots</h1>
    <%= link_to "+ Add New Pot",
    new_pot_path,
    data: {
      turbo_frame: "pots_modal",
    },
    class: "btn btn--primary" %>
  </div>

  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <div>
    <turbo-frame id="pots" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <%= render @pots %>
      <p
        id="no-pots-message"
        class="
          text-center my-10 md:col-span-2 <%= 'hidden' if @pots.any? %>
        "
      >
        No pots found.
      </p>
    </turbo-frame>
  </div>
  <turbo-frame id="pots_modal"></turbo-frame>
</div>
